<%= form_with(model: milestone, class: "contents") do |form| %>
  <% if milestone.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>
      <ul>
        <% milestone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.fields_for :goal do |g| %>
    <%= g.hidden_field :goal_id, value: @goal.id %>
  <% end %>
  <%= form.text_field :description,
                      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  <div class="inline">
    <%= button_tag type: 'submit',
                   class: "align-middle" do %> &#10003
    <% end %>
    <!--    <%#= link_to :back do %> &#10007 <%# end %>-->
  </div>
<% end %>
