<div id="<%= dom_id milestone %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= milestone.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Goal:</strong>
    <%= milestone.goal_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this milestone", milestone, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this milestone', edit_milestone_path(milestone), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
