<div class=" flex justify-center gap-x-16 p-8 ">
  <%#= link_to "Back to dashboard", :back %>
  <div class="flex flex-col items-start bg-white  h-fit p-5 rounded-xl">
    <!--    <h2>Edit <%#= resource_name.to_s.humanize %></h2>-->
    <p class="text-xl font-bold text-yankeesBlue pb-5"> Account Settings </p>
    <%= form_for(resource, as: resource_name,
                 url: registration_path(resource_name),
                 html: { method: :put },
        ) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class='flex flex-col gap-y-3'>
        <div class="field text-fiord">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field text-fiord">
          <%= f.label :password %> <i class="text-sm">(leave blank if you don't want to change it)</i><br/>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br/>
            <em class="text-sm"><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field text-fiord">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field text-fiord">
          <%= f.label :current_password %>
          <i class="text-sm">(we need your current password to confirm your changes)</i><br/>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <%= f.submit "Save Updates", class: 'actions text-doveGray font-medium bg-wildSand p-2 rounded-xl w-fit cursor-pointer ' %>
      </div>
    <% end %>

    <div class="text-doveGray  pt-10">
      <%= button_to "Delete account",
                    registration_path(resource_name),
                    data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
                    method: :delete,
                    class: 'underline font-bold text-lg' %>
      <i class="text-sm">Permanently delete your account and all your data.</i>
    </div>
  </div>
</div>


