<div class="flex justify-between" data-controller="toggle">
  <%= content %>
  <!--    Progress State-->
  <div class="flex justify-center items-center  <%= @background %> p-2 gap-x-2 rounded-xl text-light-text-darkPurple ">
    <%= image_tag @message_img %>
    <P><%= @message %></P>
  </div>

  <!--    Toggle Menu-->
  <div class="hidden flex justify-end items-center gap-x-1" data-toggle-target="toggledContent">
    <%= button_to (image_tag 'delete.svg'),
                  milestone_path(@milestone), method: :delete,
                  class: "w-9 h-9 flex justify-center items-center rounded-2xl p-2 bg-red-100" %>
    <%= link_to update_progress_milestone_path(id:@milestone.id, status: @status)  do %>
      <div class="flex justify-center items-center gap-x-2 bg-light-bg-secondary rounded-2xl p-2 text-light-text-darkPurple inline-block font-medium">
        <%= image_tag @update_progress_img %>
        <p><%= @update_progress %></p>
      </div>
    <% end %>
    <button data-action="click->toggle#toggleContent"
            class="flex justify-center items-center rounded-2xl bg-light-bg-secondary w-9 h-9 text-2xl text-light-text-darkPurple p-2 font-medium">
      x
    </button>
  </div>
  <button data-action="click->toggle#toggleContent" data-toggle-target="toggleBtn">
    <%= image_tag 'dots.svg' %>
  </button>
</div>

<div class="flex justify-between items-center">
  <P class="text-light-text-darkGray">
    <%= @milestone.description %>
  </P>

  <%= button_to (image_tag 'edit.svg'),
                edit_milestone_path(@milestone),
                method: :post,
                class: "w-7 h-7 flex justify-center items-center rounded-2xl py-2 ml-2 px-2 bg-gray-100 inline-block font-medium" %>
</div>