<%= render layout: 'partials/common/sign_container' do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded border-gray-300 bg-gray-100 p-1 text-sm font-normal w-full", placeholder: "Email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "text-sm p-4 text-ceruleanBlue text-start" %>
    </div>
  <% end %>
<% end %>

