<div class="text-black w-full h-screen flex justify-center items-center bg-light-bg-lightYellow " >
<img src="/orangeblur.png"  alt="orange blur" class="absolute top-0  ml-60 w-36 h-auto object-contain z-10 "  /> 
<img src="/purpleblur.png"  alt="purple blur" class="absolute bottom-0 mr-60  w-36 h-auto object-contain z-10" /> 
<div class="bg-white border-2 border-solid border-gray-100 max-w-md w-fit p-8 rounded-xl flex flex-col gap-y-3 items-center z-20">

<div class=" flex flex-col gap-y-3 w-full"> 
<div class=" text-center">
  <h2 class="text-2xl font-bold p-2 text-light-text-darkGray">Forgot your <span class="text-light-text-lightPurple">password?</span></h2>
 </p>
</div>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
     <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded border-gray-300 bg-gray-100 p-1 text-sm font-normal w-full" , placeholder: "Email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "text-sm p-4 text-light-text-lightPurple text-start" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
