  <div class="text-black w-full h-screen flex justify-center items-center bg-light-bg-lightYellow">
   <div class=" bg-white border-2 border-solid border-gray-100 w-fit p-8 rounded-xl flex flex-col gap-y-3 items-center ">
      <div class="bg-blue-200 w-full text-center p-0 rounded-lg">  
        <img src="/welcoming-hive.jpg"  alt="Group of welcoming people" class="mt-[-32px] pt-3 pb-3 w-72 h-auto object-contain mx-auto" />
      </div>  
  <div class=" flex flex-col gap-y-3 p-3 "> 
    <div class=" text-center">
      <h2 class="text-2xl p-2">Welcome to Goal<span class="text-light-text-lightPurple">Hive</span></h2>
     </p>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="flex flex-col gap-y-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded border-gray-300 bg-gray-100 p-2", placeholder: "Email Address" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "rounded border-gray-300 bg-gray-100 p-2", placeholder: "Password" %>
    
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="btn-primary">
<!--        <div class="actions">-->
          <%= f.submit "Log in" %>
        </div>
        </div>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
