<%= render layout: 'partials/common/sign_container' do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="flex flex-col gap-y-4 w-full">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded border-gray-300 bg-gray-100 p-1 text-sm font-normal w-full" , placeholder: "Email Address" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "rounded border-gray-300 bg-gray-100 p-1 text-sm font-normal", placeholder: "Password" %>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
        <!--        <div class="actions">-->
        <%= f.submit "Log in", class: 'w-full btn-primary' %>
    </div>
  <% end %>
<% end %>

