<% if current_user %>
  <header class="flex flex-col sticky top-0 h-[7.5rem] md:h-[8.5rem] z-50 ">
    <!--    First Row-->
    <div class="
  bg-header flex h-[4rem] md:h-[5rem] justify-between items-center px-2 md:px-6 py-3">
      <%= link_to goals_path do %>
        <%= image_tag 'goalhyve.svg' %>
      <% end %>
      <%= DateTime.now.sec if Rails.env.development? %>

      <div class="flex justify-center items-center gap-x-10">
        <!--      <button data-controller="theme-switcher" data-action="click->theme-switcher#toggle" class="text-3xl font-bold bg-white rounded-3xl p-1 flex items-center justify-center gap-x-5">-->
        <!--        <span class="cursor-pointer dark:text-fiord text-philippineYellow bg-peach dark:bg-white rounded-3xl">&#9788;</span>-->
        <!--        <span class="cursor-pointer dark:text-philippineYellow text-fiord">&#x1F313;</span>-->
        <!--      </button>-->
        <div data-controller="dropdown" class="w-full flex items-center gap-x-3 justify-end">
          <div class="items-end relative flex items-center">
            <!--            Header profile image-->
            <button data-action="click->dropdown#toggle"
                    class="rounded-full w-10 h-10 md:w-14 md:h-14 bg-gray-50"></button>

            <div data-dropdown-target="dropdownContent" class="w-80 fixed right-4 top-14 md:top-20 text-fiord font-semibold z-[100] " hidden>
              <%= link_to edit_user_registration_path,
                          class: "flex items-center gap-x-4 p-5 bg-gray-50 w-full",
                          "data-action": "dropdown#select" do %>
                <%= image_tag 'settings.svg' %>
                <span> Account Settings </span>
              <% end %>

              <%= button_to destroy_user_session_path,
                            method: :delete,
                            data: { turbo: "false" },
                            class: "flex items-center gap-x-4 p-5 bg-gray-50 w-full", "data-action": "dropdown#select" do %>
                <%= image_tag 'log_out.svg' %>
                <span> Sign Out </span>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--    Second Row-->
    <div class="flex h-[3.5rem] items-center gap-x-5 md:gap-x-5 bg-gray-100 px-3 md:px-6 py-3 md:py-4 md:px-4 font-semibold text-fiord bg-gray-50 border-b border-gray-200">
      <div class="w-6">
        <% if content_for?(:toggle_side_nav_btns) %>
          <%= yield(:toggle_side_nav_btns) %>
        <% end %>
      </div>
      <%= active_link_to goals_path do %>
        <p class="hover:underline underline-offset-4 select-none"> Dashboard</p>
      <% end %>
      <%#= active_link_to '/hives', class:'' do %>
      <p class="has-tooltip select-none">
          <span class='tooltip rounded shadow-lg p-1 bg-gray-500 text-white -mt-8 text-sm font-light'> Soon.
          </span>
        Hives
      </p>
      <%# end %>
      <% if content_for?(:dropdown_filter) %>
        <%= yield(:dropdown_filter) %>
      <% end %>

    </div>

  </header>
<% end %>

