
<div class="w-1/12 lg:hidden px-1 py-7 md:px-4 md:py-7 lg:p-7 bg-gray-50 border-r border-gray-200 flex justify-center">
  <button class="bg-zircon rounded-full md:p-2 h-fit" data-action="toggle#spread">
    <%= image_tag 'spread.svg', class: 'h-5 h-5' %>
  </button>
</div>
<!--Side navigation bar-->
<div class="hidden lg:block w-2/12 h-[inherit] bg-gray-50">
  <div class="
flex flex-col gap-y-4 py-6 px-4  justify-start items-center fixed w-[inherit] h-[inherit] border-r border-gray-200"
       data-controller="categories--navbar">
    <!--  Create a Goal-->
    <%= link_to '+ Create a goal',
                new_goal_path,
                data: { turbo_frame: "modal" },
                class: "h-fit w-full rounded-3xl py-1 text-center bg-light-bg-darkPurple text-white block font-bold " %>
    <!--  Categories Section-->
    <div class="flex flex-col h-[inherit] flex-grow  w-full border border-solid dark:border-none border-gray-300 rounded-lg  bg-light-sideNav dark:bg-dark-navbarInsider overflow-y-auto">
      <!--  Create a new Category-->
      <div class="flex justify-between items-center bg-white w-full rounded-t-xl p-2 dark:bg-dark-navbar">
        <p class="font-semibold text-yankeesBlue dark:text-white">Categories</p>
        <%= button_to new_category_path(@milestone),
                      method: :post,
                      class: "border border-solid border-gray-200 flex justify-center items-center h-7 w-7 p-2 bg-light-bg-secondary rounded-3xl text-2xl text-light-text-main" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M8 1V15M1 8H15" stroke="#415472" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        <% end %>
      </div>
      <!--    Categories-->
      <%= render partial: 'categories/index' %>
    </div>
    <!--  Account Settings, Sign Out, Logo-->
    <div class="flex flex-col justify-start items-start gap-y-2  w-full text-light-text-categories font-semibold self-end dark:text-white">
      <button class="bg-zircon rounded-full p-2 self-end">
        <%= image_tag 'collapse.svg', class: ' h-5 h-5' %>
      </button>
      <%= link_to edit_user_registration_path do %>
        <div class="flex items-center gap-x-4 ">
          <%= image_tag 'settings.svg' %>
          <span> Account Settings </span>
        </div>
      <% end %>

      <%= button_to destroy_user_session_path, method: :delete, data: { turbo: "false" } do %>
        <div class="flex items-center gap-x-4 ">
          <%= image_tag 'log_out.svg' %>
          <span> Sign Out </span>
        </div>
      <% end %>
      <p class="font-black mt-6">GoalHive.Inc ™</p>
    </div>
  </div>
</div>