<div class="step_container" data-stepper-target="step">
  <%= image_tag 'goalStepper/step_1.svg', class:"bg-zircon" %>
  <h3 class="step_title">Creating your new goal</h3>
  <div class="step_desc">
    <%= image_tag 'achieved.svg', class:"w-5 h-5" %>
    <p>What’s your goal?</p>
  </div>
  <%= form.text_area :description,
                     class: "goal_input resize-none",
                     'data-stepper-target': "goalInput",
                     'data-form-target': "textArea",
                     data: { controller: 'form' },
                     'data-action': "stepper#reflectGoal
                                      stepper#enableNext
                                      keydown.enter->stepper#FocusOnNextTarget
                                      form#autoExpand" %>
  <div class="step_desc">
    <%= image_tag 'electric.svg', class: "w-5 h-5" %>
    <p>Why do you want to achieve this goal?</p>
  </div>
  <%= form.text_area :motivation,
                     class: "goal_input resize-none",
                     'data-stepper-target': "goalMotivation",
                     'data-form-target': "textArea",
                     data: { controller: 'form' },
                     'data-action': "keydown.enter->stepper#FocusOnNextTarget
                                      form#autoExpand"
  %>
</div>