<%= form_with(model: goal, class: "contents") do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="stepper" class="h-50v flex flex-col gap-y-3 justify-between"_>
    <!--    ٍStep Number-->
    <div class="bg-light-bg-lightGray flex items-center gap-x-3 w-fit p-3 text-fiord  font-medium rounded-md">
      <%= image_tag 'stars' %>
      <p> Step
        <span data-stepper-target="stepNumber"> - </span> of
        <span data-stepper-target="numberOfSteps"> - </span></p>
    </div>
    <!--    Content (Steps)-->
    <div class="flex-grow font-medium text-fiord text-lg">
      <!--      Step 1: Goal, Motivation Category  -->
      <div class="step_container" data-stepper-target="step">
        <h3 class="step_title">Creating your new goal</h3>
        <div class="step_desc">
          <%= image_tag 'achieved', class: "w-5 h-5" %>
          <p>What’s your goal?</p>
        </div>
        <%= form.text_field :description, class: "goal_input" %>
        <div class="step_desc">
          <%= image_tag 'electric', class: "w-5 h-5" %>
          <p>Why do you want to achieve this goal?</p>
        </div>
        <%= form.text_field :motivation, class: "goal_input" %>
        <%= form.label :category %>
        <%= form.select :category_id, current_user.categories.all.pluck(:name, :id) %>
      </div>
      <!--      Step 2: Developing Milestones step -->
      <div class="step_container" data-stepper-target="step" data-controller="milestones">
        <%= render 'partials/common/create_milestones', form: form %>
      </div>
      <!--      Step 3: Assign Begin date, End date-->
      <div class="step_container" data-stepper-target="step">
        <div class="step_title">
          Great, dates help keep momentum with our goals!
        </div>
        <div class="step_desc">
          Pick a start and end date below
        </div>
        <div class="flex gap-x-5">
          <div class="flex flex-col gap-y-3">
            <%= form.label :begin_date, "Start Date" %>
            <%= form.date_field :begin_date, class: "bg-zircon rounded-xl border-none" %>
          </div>
          <div class="flex flex-col gap-y-3">
            <%= form.label :end_date, "End Date" %>
            <%= form.date_field :end_date, class: "bg-zircon rounded-xl  border-none" %>
          </div>
        </div>
      </div>
    </div>
    <!--    Navigation Buttons-->
    <div class="self-end flex justify-end gap-x-4 font-medium">
      <button class="bg-light-bg-secondary rounded-3xl px-4 py-2 text-light-text-title" data-action="stepper#previous" data-stepper-target="next">
        ← Back
      </button>
      <button class="bg-light-bg-darkPurple rounded-3xl px-4 py-2 text-white" data-action="stepper#next" data-stepper-target="prev">
        Next →
      </button>
      <div class="bg-light-bg-darkPurple w-fit flex justify-center items-center rounded-3xl px-5 py-1 text-white inline-block cursor-pointer hidden"
           data-stepper-target="submit">
        <%= form.submit 'Create Goal', class: "cursor-pointer" %>
      </div>
    </div>
  </div>
<% end %>


