<%= form_with(model: goal, class: "contents") do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-y-3 text-base text-light-text-main">
    <h3 class="font-bold">Creating your new goal</h3>

    <%#= form.label :description %>
    <p>What’s your goal?</p>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 w-full" %>

    <%#= form.label :motivation %>
    <p>Why do you want to achieve this goal?</p>
    <%= form.text_field :motivation, class: "block shadow rounded-md border border-gray-200 outline-none px-3 w-full" %>

    <%= form.label :category %>
    <%= form.select :category_id, current_user.categories.all.pluck(:name, :id) %>

    <%= render 'partials/common/create_milestones', form: form %>



    <div class="inline">
      <%= form.submit 'Create Goal', class: "rounded-lg px-5 bg-light-btn text-white inline-block font-medium cursor-pointer" %>
    </div>
  </div>

<% end %>
