<%= form_with(model: goal,
              url: goals_path,
              class: "contents",
              data: { controller: 'new-goal-milestones',
                      action: 'new-goal-milestones#filterEmptyMilestones' }) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="stepper"
       class="h-50v flex flex-col gap-y-3 justify-between">
    <!--    ٍStep Number-->
    <div class="bg-light-bg-lightGray flex items-center gap-x-3 w-fit p-3 text-fiord  font-medium rounded-md">
      <%= image_tag 'stars.svg' %>
      <p> Step
        <span data-stepper-target="stepNumber"> - </span> of
        <span data-stepper-target="numberOfSteps"> - </span></p>
    </div>
    <!--    Content (Steps)-->
    <div class="flex-grow font-medium text-fiord text-lg">
      <!--      Step 1: Goal, Motivation Category  -->
        <%= render 'partials/new_goal_stepper/step_1_goal_details', form: form %>
      <!--      Step 2: Developing Milestones step -->
         <%= render 'partials/new_goal_stepper/step_2_create_milestones', form: form %>
      <!--      Step 3: Choosing Category step -->
        <%= render 'partials/new_goal_stepper/step_3_choose_category', form: form %>
      <!--      Step 4: Assign Begin date, End date-->
        <%= render 'partials/new_goal_stepper/step_4_choose_dates', form: form %>
    </div>
    <!--    Navigation Buttons-->
    <div class="self-end flex justify-end gap-x-4 font-medium">
      <button class="bg-light-bg-secondary rounded-3xl px-4 py-2 text-light-text-title"
              data-action="stepper#previous"
              data-stepper-target="prev">
        ← Back
      </button>
      <button class="bg-light-bg-darkPurple rounded-3xl px-4 py-2 text-white
                     disabled:bg-light-bg-lightGray
                     disabled:cursor-not-allowed
                     disabled:text-light-text-main
                     disabled:has-tooltip
                     disabled:cursor-help"
              data-action="stepper#next"
              data-stepper-target="next"
              disabled="true">
        <span class='tooltip rounded shadow-lg p-1 bg-gray-500 text-white bottom-24 -ml-[10%] text-sm font-light w-72'
              data-stepper-target="nextTooltip"></span>
        Next →
      </button>
      <div class="bg-light-bg-darkPurple w-fit flex justify-center items-center rounded-3xl px-5 py-1 text-white inline-block cursor-pointer hidden"
           data-stepper-target="submit">
        <%= form.submit 'Create Goal', class: "cursor-pointer" %>
      </div>
    </div>
  </div>
<% end %>
