<div id="<%= dom_id goal %>"
     class="w-80
     p-3
     border
     shadow-md
     border-gray-500
     bg-white
     border-opacity-10
     rounded-lg
     hover:border-indigo-200">

  <!--  Play/Pause - Options -->
  <div class="flex justify-between">
    <%= image_tag 'play.svg' %>
    <%= image_tag 'dots.svg' %>
  </div>

  <!--  Delete, Category, Details-->
  <div class="flex justify-end items-center []">
    <%= button_to (image_tag 'delete.svg'),
                  goal_path(goal), method: :delete,
                  class: "w-9 h-9 flex justify-center items-center rounded-2xl py-2 px-2 bg-red-100" %>
    <%= link_to (image_tag 'edit.svg'),
                edit_goal_path(goal),
                class: "w-9 h-9 flex justify-center items-center rounded-2xl py-2 ml-2 px-2 bg-gray-100 inline-block font-medium" %>
    <%= link_to (image_tag 'category.svg'),
                goal,
                class: "w-9 h-9 flex justify-center items-center rounded-2xl py-1 ml-2 px-1 bg-gray-100 inline-block font-medium" %>
  </div>
  <!--end-->

  <!--end-->


  <div class="flex flex-col gap-y-5">

    <div class="mt-3  text-xs  font-normal  text-slate-100 ">
      Your goal
    </div>

    <h3 className="font-semibold  text-base "><%= goal.description %></h3>


    <p>
      <strong class="block font-medium">time:</strong>
      <%= goal.created_at.to_fs(:short) %>
    </p>

    <%# if action_name != "show" %> <%# end %>

  </div>

</div>
