<% content_for :side_nav do %>
  <%= render 'partials/common/side_nav' %>
<% end %>

<% content_for :toggle_side_nav_btns do %>
  <!--  Fold Button-->
  <button class="block lg:hidden w-7 justify-center items-center"
          data-toggle-side-nav-target="unfoldBtn"
          data-action="toggle-side-nav#toggle">
    <%= image_tag 'toggle.svg', class: 'h-4 h-4' %>
  </button>
  <!--  Unfold Button-->
  <button class="hidden lg:block w-7 flex justify-center items-center"
          data-toggle-side-nav-target="foldBtn"
          data-action="toggle-side-nav#toggle">
    <%= image_tag 'collapse.svg', class: ' h-5 h-5' %>
  </button>
<% end %>

<% content_for :goals_list do %>
  <section class="flex flex-col flex-grow w-8/12 md:w-9/12 lg:w-10/12 bg-gray-50 h-fit"
           data-toggle-side-nav-target="hidden">
    <!--  header-->
    <%= render partial: 'partials/common/page_header', locals: { page_name: 'Dashboard' } %>
    <!--  Body-->
    <%= render partial: 'goals/list', goals: @goals || goals %>
  </section>
<% end %>
