<div class='h-full w-full min-h-screen flex justify-around items-start py-5 px-2'>
  <!--  1st section-->
  <div
    class='mb-3 p-3  bg-white w-3/12 border-solid border border-gray-200 rounded-[8px]'
  >
    <p class="font-bold text-sm text-light-text-darkPurple leading-5 text-base mb-4">
      Your Motivation
    </p>
    <blockquote
      suppressContentEditableWarning={true}
      class='focus:border-0 bg-light-bg-lightGray p-3 text-doveGray rounded-[8px]'
      contentEditable='true'
    >
      <%= @goal.motivation %>
    </blockquote>
  </div>
  <!--  2nd section-->
  <div class="w-6/12 flex flex-col gap-y-5">
    <p class="text-2xl">
      <%= @goal.description %>
    </p>

    <div
      data-controller="tabs"
      data-tabs-active-class="border rounded-3xl bg-white"
      data-tabs-default-tab-value="In-progress Milestones"
    >
      <!-- buttons to toggle between tabs -->
      <div class="text-light-text-main list-reset flex border mb-5 rounded-3xl p-1 w-fit bg-slate-50">
        <button id="In-progress Milestones" data-tabs-target="btn" data-action="click->tabs#select" class="milestone_tab">In-progress Milestones</button>
        <button id="Achieved Milestones" data-tabs-target="btn" data-action="click->tabs#select" class="milestone_tab">Achieved Milestones</button>
        <button id="All Milestones" data-tabs-target="btn" data-action="click->tabs#select" class="milestone_tab">All Milestones</button>
      </div>

      <!-- the tabs -->
      <div class="rounded-lg">
        <div data-tabs-target="tab default" id="In-progress Milestones" class="hidden milestone_tab_content" data-controller="sortable">
          <%= render @goal.milestones.where(status: 'in_progress').rank(:row_order).all %>
        </div>

        <!-- tab 2 is hidden by default, to prevent 'flashing in' -->
        <div data-tabs-target="tab" id="Achieved Milestones" class='hidden milestone_tab_content'>
          <%= render @goal.milestones.where(status: 'achieved') %>
        </div>

        <div data-tabs-target="tab" id="All Milestones" class='hidden milestone_tab_content' data-controller="sortable">
          <%= render @goal.milestones.rank(:row_order).all %>
        </div>
      </div>
    </div>

  </div>


  <!--  3rd section-->
  <div class="">
    <%= render @goal %>
  </div>
</div>