<% content_for :goal_details do %>
  <div class='flex justify-around gap-x-16 items-start p-2 md:p-5'>
    <!--  1st section-->
    <div class='w-3/12 hidden lg:flex flex-col gap-y-5 sticky top-5'>
      <%= render 'details/motivation_text' %>
      <%= render 'details/motivation_media' %>
    </div>
    <!--  2nd section-->
    <div class="w-full lg:w-6/12 flex flex-col"
         data-controller="edit-content">
      <!--      Motivation & Activity for mobile-->
      <div class="flex justify-between gap-x-5">
        <p class="text-2xl truncate text-yankeesBlue font-semibold w-full p-2"
           data-edit-content-target="content">
          <%= @goal.description %>
        </p>
        <div class="flex  gap-x-3">
          <button class='flex justify-center items-center'
                  data-action='edit-content#editMode'
                  data-edit-content-target="editBtn">
            <%= image_tag 'edit.svg' %>
          </button>
          <button class='hidden flex justify-center items-center text-ceruleanBlue bold text-lg'
                  data-action='edit-content#saveMode'
                  data-update-url='<%= goals_path %>'
                  data-goal-id='<%= @goal.id %>'
                  data-edit-content-target="updateBtn">
            <%= image_tag 'check.svg', class: 'w-4 h-4' %>
          </button>
          <button class='flex justify-center items-center'>
            <%= image_tag 'folder.svg' %>
          </button>
        </div>
      </div>
      <div
        data-controller="tabs"
        data-tabs-active-class="border border-gray-400 rounded-3xl bg-white text-independence"
        data-tabs-default-tab-value="inProgressMilestones"
      >
        <!-- buttons to toggle between tabs -->
        <div class="flex justify-between items-center sticky top-0 py-2 bg-gray-50">
          <!--          Buttons-->
          <div class="text-doveGray list-reset flex gap-x-3 justify-center items-center border rounded-3xl p-1 w-fit bg-slate-50 ">
            <button data-tab-id="inProgressMilestones" data-tabs-target="btn defaultBtn" data-action="click->tabs#select" class="milestone_tab">In-progress
              <span class="hidden md:inline">Milestones</span>
            </button>
            <button data-tab-id="achievedMilestones" data-tabs-target="btn" data-action="click->tabs#select" class="milestone_tab">Achieved
              <span class="hidden md:inline">Milestones</span>
            </button>
            <!--            <button data-tab-id="allMilestones" data-tabs-target="btn" data-action="click->tabs#select" class="milestone_tab"> -->
            <!--             All Milestones-->
            <!--            </button>-->
          </div>
          <!--          Add a new Milestone, Motivation, Activity-->
          <div class="flex justify-center items-center gap-x-4">
            <button class='lg:hidden flex justify-between items-center p-2 rounded-full bg-[#F4F6FF]'
                    data-action='dialog#open'
                    data-dialog-content-id="motivation">
              <%= image_tag 'motivation.svg' %>
              <% content_for :modal_content do %>
                <div class="w-90v h-90v p-3 flex flex-col gap-y-3"
                     id='motivation'
                     data-dialog-target="content">
                  <%= render 'details/motivation_text' %>
                  <%= render 'details/motivation_media' %>
                </div>
              <% end %>
            </button>

            <button class='lg:hidden flex justify-between items-center p-2 rounded-full bg-[#F4F6FF]'
                    data-action='dialog#open'
                    data-dialog-content-id="activity">
              <%= image_tag 'activity.svg' %>
              <% content_for :modal_content do %>
                <div class="w-90v h-90v p-3"
                     id='activity'
                     data-dialog-target="content">
                  <%= render 'details/motivation_media' %>
                </div>
              <% end %>
            </button>

            <%= button_to new_milestone_path(goal_id: @goal.id),
                          method: :post,
                          class: 'gap-x-2 bg-ceruleanBlue flex justify-between items-center p-2 md:py-1 md:px-4 rounded-full  md:rounded-3xl',
                          data: { turbo_frame: "modal",
                                  action: 'dialog#open' } do %>
              <%= image_tag 'plus.svg' %>
              <span class="hidden md:block font-semibold text-md text-white"> Add Milestone </span>
            <% end %>
          </div>
        </div>
        <!-- the tabs -->
        <div class="rounded-lg">
          <div data-tabs-target="tab defaultTab"
               id="inProgressMilestones"
               class="hidden milestone_tab_content"
               data-controller="sortable"
               data-sortable-url="<%= sort_in_progress_milestones_path %>"
               data-sortable-list="in-progress"
               data-sortable-position="in_progress_row_order_position">
            <%= render @goal.milestones.where(status: 'in_progress').rank(:in_progress_row_order).all %>
          </div>

          <div data-tabs-target="tab" id="achievedMilestones" class='hidden milestone_tab_content'>
            <%= render @goal.milestones.where(status: 'achieved') %>
          </div>

          <div data-tabs-target="tab"
               id="allMilestones"
               class='hidden milestone_tab_content'
               data-controller="sortable"
               data-sortable-url="<%= sort_all_milestones_path %>"
               data-sortable-position="row_order_position">
            <%= render @goal.milestones.rank(:row_order).all %>
          </div>
        </div>
      </div>
    </div>
    <!--  3rd section-->
    <div class="w-3/12 hidden lg:block">
      <%= render 'details/recent_activity', goal:@goal %>
    </div>
  </div>

<% end %>