<div class='h-full w-full min-h-screen flex justify-around items-start py-5 px-2'>
  <!--  1st section-->
  <div
    class='mb-3 p-3  bg-white w-3/12 border-solid border border-gray-200 rounded-[8px]'
  >
    <p className="font-bold text-sm text-[#415472]  leading-5 text-base mb-4">
      Your Motivation
    </p>
    <blockquote
      suppressContentEditableWarning={true}
      class='focus:border-0 bg-[#F5F5F5] p-3 text-[#717171] rounded-[8px]'
      contentEditable='true'
    >
      <%= @goal.motivation %>
    </blockquote>
  </div>
  <!--  2nd section-->
  <div class="w-6/12 flex flex-col gap-y-5">
    <p class="text-2xl">
      <%= @goal.description %>
    </p>
    <div data-controller="tabs" data-tabs-active-tab="-mb-px border rounded-3xl bg-white">
      <ul class="list-reset flex border mb-5 rounded-3xl p-1 w-fit bg-slate-50">
        <li class="-mb-px mr-1" data-tabs-target="tab" data-action="click->tabs#change">
          <a class="text-light-text-details-tabs rounded-3xl inline-block py-2 px-4 text-blue-500 hover:text-light-text-details-selectedTab font-semibold no-underline" href="#">All
            milestones</a>
        </li>
        <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
          <a class="text-light-text-details-tabs rounded-3xl inline-block py-2 px-4 text-blue-500 hover:text-light-text-details-selectedTab font-semibold no-underline" href="#">Achieved
            milestones</a>
        </li>
        <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
          <a class="text-light-text-details-tabs rounded-3xl inline-block py-2 px-4 text-blue-500 hover:text-light-text-details-selectedTab font-semibold no-underline" href="#">
            In-progress milestones</a>
        </li>
      </ul>

      <!--      Tab Content-->
      <div id="milestones" class="hidden p-4 flex flex-col gap-y-3" data-tabs-target="panel">
          <%= render @goal.milestones %>
      </div>

      <div id="achievedMilestones" class="hidden p-4 flex flex-col gap-y-3" data-tabs-target="panel">
        <%= render @goal.milestones.where(status: 'achieved') %>
      </div>
      <div id="inProgressMilestones" class="hidden p-4 flex flex-col gap-y-3" data-tabs-target="panel">
        <%= render @goal.milestones.where(status: 'in_progress') %>
      </div>

    </div>

  </div>
  <!--  3rd section-->
  <div class="">
    Goal Details
    <%= render @goal %>
  </div>
</div>