<% content_for :goal_details do %>
  <div class='h-full w-full min-h-screen flex justify-around gap-x-16 items-start py-5 px-5'>
    <!--  1st section-->
    <div class=' w-3/12 flex flex-col gap-y-5 sticky top-5'>
      <!--      Motivation Media-->
      <div class="p-3 bg-white border-solid border border-gray-200 rounded-md min-h-[400px]  flex flex-col">
        <p class="font-bold text-sm text-fiord leading-5 text-base mb-4">
          Motivating Media
        </p>
        <div class="flex flex-col justify-center items-center  border-solid border border-gray-200 flex-grow" data-controller="form">
          <%= form_with(model: @goal, class: "relative flex flex-col justify-between items-center gap-y-5 p-3") do |form| %>
            <% if @goal.motivation_media.attached? %>
              <%= form.label :motivation_media,
                             class: "w-fit flex gap-x-2 font-semibold text-fiord  bg-zircon px-3 py-2 rounded-full cursor-pointer self-end absolute right-5 top-5" do %>
                <%= form.file_field :motivation_media,
                                    class: "hidden",
                                    data: { action: 'change->form#autoSubmit' }

                %>
                <%= image_tag 'edit.svg'%>
              <% end %>
              <%= image_tag @goal.motivation_media %>
            <% else %>
              <%= form.label :motivation_media,
                             class: "flex gap-x-2 font-semibold text-fiord  bg-zircon px-3 py-2 rounded-full cursor-pointer" do %>
                <%= image_tag 'upload_image.svg' %>
                Add Media
                <%= form.file_field :motivation_media,
                                    style: "display: none;",
                                    data: { action: 'change->form#autoSubmit' }

                %>
              <% end %>
            <% end %>
          <% end %>

        </div>
      </div>
      <!--      Motivation Text-->
      <div class="p-3 bg-white border-solid border border-gray-200 rounded-md">
        <p class="font-bold text-sm text-fiord leading-5 text-base mb-4">
          Your Motivation
        </p>
        <blockquote
          class='focus:border-0 bg-wildSand p-3 text-doveGray rounded-md'
          contentEditable='true'
        >
          <%= @goal.motivation %>
        </blockquote>
      </div>
    </div>
    <!--  2nd section-->
    <div class="w-6/12 flex flex-col gap-y-5 ">
      <div class="flex justify-between">
        <p class="text-2xl truncate text-yankeesBlue font-semibold">
          <%= @goal.description %>
        </p>
        <div class="flex gap-x-5">
          <button> <%= image_tag 'edit.svg' %></button>
          <button> <%= image_tag 'folder.svg' %> </button>
        </div>
      </div>

      <div
        data-controller="tabs"
        data-tabs-active-class="border border-gray-400 rounded-3xl bg-white text-independence"
        data-tabs-default-tab-value="inProgressMilestones"
      >
        <!-- buttons to toggle between tabs -->
        <div class="flex justify-between items-center sticky top-0 py-2 bg-gray-50">
          <!--          Buttons-->
          <div class="text-doveGray list-reset flex gap-x-3 justify-center items-center border rounded-3xl p-1 w-fit bg-slate-50 ">
            <button data-tab-id="inProgressMilestones" data-tabs-target="btn defaultBtn" data-action="click->tabs#select" class="milestone_tab">In-progress
              Milestones
            </button>
            <button data-tab-id="achievedMilestones" data-tabs-target="btn" data-action="click->tabs#select" class="milestone_tab">Achieved
              Milestones
            </button>
            <!--            <button data-tab-id="allMilestones" data-tabs-target="btn" data-action="click->tabs#select" class="milestone_tab">All-->
            <!--              Milestones-->
            <!--            </button>-->
          </div>
          <!--          Add a new Milestone-->
          <%= button_to new_milestone_path(goal_id: @goal.id),
                        method: :post,
                        class: ' gap-x-2 text-white bg-ceruleanBlue rounded flex justify-between items-center py-1 px-4  rounded-3xl',
                        data: { turbo_frame: "modal",
                                action: 'dialog#open' } do %>
            <%= image_tag 'plus.svg' %>
            <span class="font-semibold text-md"> Add Milestone </span>
          <% end %>
        </div>
        <!-- the tabs -->
        <div class="rounded-lg">
          <div data-tabs-target="tab defaultTab"
               id="inProgressMilestones"
               class="hidden milestone_tab_content"
               data-controller="sortable"
               data-sortable-url="<%= sort_in_progress_milestones_path %>"
               data-sortable-list="in-progress"
               data-sortable-position="in_progress_row_order_position">
            <%= render @goal.milestones.where(status: 'in_progress').rank(:in_progress_row_order).all %>
          </div>

          <div data-tabs-target="tab" id="achievedMilestones" class='hidden milestone_tab_content'>
            <%= render @goal.milestones.where(status: 'achieved') %>
          </div>

          <div data-tabs-target="tab"
               id="allMilestones"
               class='hidden milestone_tab_content'
               data-controller="sortable"
               data-sortable-url="<%= sort_all_milestones_path %>"
               data-sortable-position="row_order_position">
            <%= render @goal.milestones.rank(:row_order).all %>
          </div>
        </div>
      </div>
    </div>
    <!--  3rd section-->
    <div class="w-3/12">

    </div>
  </div>

<% end %>