<div
  data-controller="toggle"
  class="bg-white border border-solid border-gray-200 p-3 w-full rounded flex justify-between items-center"
  id="<%= dom_id category %>">
  <%= button_to category.name,
              filter_by_category_goals_path(by_category: category),
              method: :post,
              class: "text-light-text-categories font-semibold" %>

  <div class="flex items-center gap-x-2">
    <!--  Delete, Category, Details-->
    <div class="hidden flex justify-end items-center gap-x-2" data-toggle-target="toggledContent">
      <%= button_to (image_tag 'delete.svg'),
                    category_path(category),
                    method: :delete,
                    # form: {data: {turbo_confirm: 'Are you sure?'}},
                    # data:
                    #   {turbolinks: false, confirm: "Are you sure you want to reset the indexes?" },
                    class: "w-7 h-7 flex justify-center items-center rounded-2xl py-2 px-2 bg-red-100" %>
      <%= button_to (image_tag 'edit.svg'),
                    edit_category_path(category),
                    method: :post,
                    class: "w-7 h-7 flex justify-center items-center rounded-2xl py-2 px-2 bg-gray-100 inline-block font-medium" %>
      <button data-action="click->toggle#toggleContent"
              class="flex justify-center items-center rounded-2xl bg-light-bg-secondary w-7 h-7 text-xl text-light-text-darkPurple p-2 font-medium">
        x
      </button>
    </div>
    <button data-action="click->toggle#toggleContent"  data-toggle-target="toggleBtn">
      <%= image_tag 'dots.svg' %>
    </button>
    <!--end-->
  </div>
</div>

<%# if action_name != "show" %>
<%#= link_to "Show this category", category, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<%#= link_to 'Edit this category', edit_category_path(category), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
<%# end %>
