<div id="<%= dom_id category %>">
  <%= form_with(model: category, class: "contents") do |form| %>
    <% if category.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
          <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class=" flex gap-x-3">
      <%= form.text_field :name, class: "shadow rounded-md  outline-none w-full text-light-text-categories font-semibold" %>
      <div class="text-light-text-categories">
        <%= button_tag type: 'submit', class: "align-middle" do %>
          &#10003
        <% end %>
        <%#= link_to :back do %>
<!--          &#10007-->
        <%# end %>
      </div>
    </div>
  <% end %>
</div>


<%#= form.submit 'save',class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
