<div class="flex flex-col gap-y-3 text-fiord bg-white p-3 border-solid border border-gray-200 rounded-md">
  <div class="flex  gap-x-2  text-lg font-semibold">
    <%= image_tag 'achieved.svg' %>
    <h1>
      <%= @goal.achieved_count %>/<%= @goal.milestones_count %> Milestones Reached
    </h1>
  </div>
  <%= render GoalProgressComponent.new(percentage: @goal.goal_progress_percentage) %>
  <%#= render GoalDatesComponent.new(dates: {
    created_at: @goal.created_at,
    begin_date: @goal.begin_date,
    end_date: @goal.end_date,
  }) %>
  <%= form_with(model: @goal,
                class: "contents text-sm",
                data: { controller: 'flatpickr' } ) do |form| %>
    <!--    BeginDate-->
    <div class="flex flex-col "
         data-controller="form"
         data-datetype="beginDate">
      <%= form.label :begin_date, "Start Date:",
                     class: "font-medium w-20  whitespace-nowrap px-3" %>
      <div class="flex flex-wrap items-center gap-x-2 hover:border-gray-300  cursor-pointer group">
        <%= form.date_field :begin_date,
                            class: "w-44 rounded-xl hover:border-b border-none",
                            data: { action: 'change->form#autoRequestSubmit
                            ' },
                            placeholder: 'N/A',
                            'data-flatpickr-target': "beginDate" %>
        <%= image_tag 'calendar.svg', class: 'w-5 h-5', 'data-action': 'click->flatpickr#showDate' %>
        <div class="has-tooltip">
          <span class='tooltip rounded shadow-lg p-1 bg-gray-500 text-white -mt-8 text-sm font-light'> Clear Date
          </span>
          <%= image_tag 'x.svg', class: 'block md:hidden group-hover:block bg-gray-50 rounded-full p-1 w-5 h-5',
                        'data-action': 'click->flatpickr#clearDate' %>
        </div>
      </div>
    </div>
    <!--    End Date-->
    <div class="flex flex-col"
         data-controller="form"
         data-datetype="endDate">
      <%= form.label :end_date, "End Date:",
                     class: "font-medium w-20  whitespace-nowrap px-3" %>
      <div class="flex flex-wrap items-center gap-x-2 hover:border-gray-300 cursor-pointer group">
        <%= form.date_field :end_date,
                            class: "w-44 rounded-xl hover:border-b border-none",
                            data: { action: 'change->form#autoRequestSubmit' },
                            placeholder: 'N/A',
                            'data-flatpickr-target': "endDate" %>
        <%= image_tag 'calendar.svg', class: 'w-5 h-5',
                      'data-action': 'click->flatpickr#showDate' %>


        <div class="has-tooltip">
          <span class='tooltip rounded shadow-lg p-1 bg-gray-500 text-white -mt-8 text-sm font-light'> Clear Date
          </span>
          <%= image_tag 'x.svg', class: 'block md:hidden group-hover:block bg-gray-50 rounded-full p-1 w-5 h-5',
                        'data-action': 'click->flatpickr#clearDate' %>
        </div>
      </div>
    </div>
  <% end %>
  <div>
    <div class="text-doveGray flex flex-col gap-y-3 bg-wildSand rounded-md p-3">
      <p class="text-lg font-semibold"> Recent Activity</p>
      <div class="flex flex-col gap-y-5">
        <% @ordered_milestones.each do |m| %>
          <% if m.status_achieved? && m.achieved_at %>
            <div>
              <p class="font-medium"><%= m.achieved_at&.strftime('%B %e, %Y ') %></p>
              <p>You achieved "<%= m.description %>"</p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>